.Entrycard-date {
    text-align: center;
}

.Entrycard-article{
    border-bottom: solid var(--color-water-10) 1px;
    margin: 1em;
    position: relative;
}


.Entrycard-article:last-of-type{
    border-bottom: solid var(--color-water-10) 1px;
    margin: 1em;
    position: relative;
    margin-bottom: 4em;
  }