:root {
    /* Used for texts (+ footer background) */
    --color-granite: #252629;
    /* Used for backgrounds (+ footer text color) */
    --color-foam: #ffffff;
    /* Used for buttons, icons, etc. */
    --color-nemo: #ff4a11;
    /* active color for buttons, icons, etc. */
    --color-nemo-mid: #ff5c29;
    /* hover color for buttons, icons, etc. */
    --color-nemo-dark: #e5430f;
    /* Used for borders and some backgrounds */
    --color-water-10: #e4e8f0;
  }

.EntriesSection-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10vw;
    margin-left: 3vw;
}

.EntriesSection-date {
    text-align: center;
}

.EntriesSection-article{
    border-bottom: solid var(--color-water-10) 1px;
    margin: 1em;
    position: relative;
}

.svg-star{
    position: absolute;
    right: 1em;
  top: 2em;
}