:root {
    /* Used for texts (+ footer background) */
    --color-granite: #252629;
    /* Used for backgrounds (+ footer text color) */
    --color-foam: #ffffff;
    /* Used for buttons, icons, etc. */
    --color-nemo: #ff4a11;
    /* active color for buttons, icons, etc. */
    --color-nemo-mid: #ff5c29;
    /* hover color for buttons, icons, etc. */
    --color-nemo-dark: #e5430f;
    /* Used for borders and some backgrounds */
    --color-water-10: #e4e8f0;
  }



.EntryForm__header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
    background-color: var(--color-water-10);
    text-align: center;
    font-size: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}