
.footer-div {
    background-color: var(--color-granite);
    color: var(--color-foam);
    margin-bottom: 0;
    padding-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}